<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <title>XYZFORUMS</title>
  <script> 
    name = '<%- name %>';
	console.log(name);
  </script>
</head>
<body>
  <header style="display: grid;grid-template-columns: 95% 5%;">
    <div>
      <h1 style="color:cadetblue">XYZFORUM</h1>
    </div>
    <div>
  
  <h4>user: <%= name %></h4>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
  </div>
</header>
</form>

<h2> USERS Posts: </h2>

<ul>
    <% testquery.forEach(function( username){ %>
        <li><a href="/users/<%= username.uid %>"> #<%= username.uid %> <%= username.email %>  </a></li>
    <% }) %>
</ul>
</body>
</html>