<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <title>XYZFORUMS</title>
</head>
<body>
  <header style="display: grid;grid-template-columns: 95% 5%;">
    <div>
      <h1 style="color:cadetblue"><a href="/" style="text-decoration: none;"><font color="cadetblue">XYZFORUM</font></a></h1>
    </div>
    <div>
  
	<h4>user: <%= username %></h4>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
  </div>
</header>

</form>
  <!-- Function to fetch posts and show who the author is-->
	<% posts.forEach(function( post){ %>
        <div style="outline: black solid 2px"><li> <h3> <a href="/posts/<%= post.pid %>"><%= post.title %> </a></h3><br> <h5>Post made by: <%= name %></h5> <br> <p> <%= post.content %> </p> <li></div>
    <% }) %>
    <!-- Function to fetch users who commented on a post and their comment-->
	<% comments.forEach(function( comment){ %>
        <div style="outline: black solid 2px"><li> <h4>Comment by <a href = "/users/<%= comment.user%>"> user: <%= comment.user%></a></h4><br> <p> <%= comment.comment %> </p> <li></div>
    <% }) %>
</body>
</html>