<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<h1 style="text-align: center;color:cadetblue;padding-top: 15%;">XYZFORUM Registration</h1>
<div  style="padding-top: 5px;margin:auto;max-width:320px;">
<form action="/register" method="POST" style="display:grid; gap:0.2em;margin: 1em auto;">
  <div>

    <label for="email" style="float: left; width: 6em; text-align: right;">Email</label>
    <input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required style="margin-left: 2em;">

  </div>
  <div>

    <label for="password" style="float: left; width: 6em; text-align: right;">Password</label>
    <input type="password" id="password" name="password" required style="margin-left: 2em;">
  
  </div>
  <div style="display: flex;justify-content: center;align-items: center;margin-top: 10px; margin-right: 5px;">
    <button type="submit">Register</button>
    <a href="/login" style ="margin-left: 15px;">Login</a>
  </div>
</form>
</div>